<!DOCTYPE html>
<html>

  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryptor</title>
  </head>

  
  <body>
    
    <div class="box">
      <div class="box1">
        <h1>Sign Up</h1>
      <form action="" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="text" name="username" placeholder="Email" required>
        <input type="password" name="password" placeholder="New Password" required>
        <button id="signupbut"><a href="/templates/home.html">Sign Up</a></button>
      </form>
      </div>
      <div class="box2">

        <div class="other">
          <p id="other1">
            <a href="/templates/login.html">Already Existing User?</a>
          </p>
        </div>

      </div>
    </div>
    
    
    
  </body>
</html>